.root {
  display: flex;
  gap: 10px;

  li {


    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fe5f1e;
      border: 1px solid #fe5f1e;
      padding: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: #fe5f1e;
        color: white;
      }
    }

  }
  :global{
    .selected{
      background: #fe5f1e;
      border-radius: 50%;

      a{
        color: white;
      }
    }
  }
}