.root{
  width: 350px;
  margin-left: -6rem;
  position: relative;

  .icon{
    position: absolute;
    left: 10px;
    color: rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translateY(-50%);
  }

  .input{
    width: 100%;
    padding: 0.6rem  1rem 0.5rem 2rem;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.21);
  }

  .cross{
    position: absolute;
    right: 10px;
    color: rgba(0, 0, 0, 0.5);
    top: 50%;
    font-size: 25px;
    transform: translateY(-50%);
  }
}